!!!
%html{lang: "ja"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html; charset=utf-8"}
    %title Temparature Chart
    %script{:type => "text/javascript", :src => "https://www.google.com/jsapi"}
    %script{:type => "text/javascript", :src => "/home/pi/Projects/pi-pet-care/graph/call_google_chart.js"}
  %body
    %div{:id => "chart_div", :style => "width:80%; height: 400px;"}
